%h2 記事一覧

%ul
  - @notes.each do |note|
    %li
      %dl
        %dt 作者
        %dd= link_to note.user.name, user_path(note.user)
        %dt タイトル
        %dd= link_to note.title, note_path(note)

= paginate @notes
