:ruby
  notes = Note.posted.limit(11)
  first_note = notes.first
  last_notes = notes.drop(1)

= render 'menu'
= render 'shared/large_note', note: first_note
.row.mb-2
  - last_notes.each do |note|
    = render 'shared/note', note: note
